---
import Card from '@/components/Card.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Welcome to EJPeace.">
  <main>
    <h1>Welcome to <span class="text-gradient">EJPeace</span></h1>
    <p class="instructions">
      Kreatifitas tanpa batas bersama hiburan yang tak terlupakan.
      <br />
      <strong>Code Challenge:</strong> Tweak the "Welcome to EJPeace" message above.
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://entertainment.ejpeace.my.id/"
        title="EJPeace Entertainment"
        body="Jelajahi konten dan informasi terkini tentang kami"
      />
      <Card
        href="https://peacetival.ejpeace.my.id/"
        title="Peacetival"
        body="More than just Festival, "
      />
      <Card
        href="https://coffee.ejpeace.my.id/"
        title="EJPeace Coffee"
        body="Secangkir kopi dengan suasana yang tak tertandingi"
      />
      <Card
        href="https://club.ejpeace.my.id/"
        title="Peace Club"
        body="Come say hi to our amazing community. ❤️"
      />
      <Card
        href="https://show.ejpeace.my.id/"
        title="Showpeace"
        body="Sebuah ruang kreasi dan imajinasi bagi siapapun."
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
